@{
    ViewBag.Title = "Anasayfa";
}
<div class="p-4 bg-light rounded-3">
    <h1>BookStore'a Hoş Geldiniz</h1>
    <p>Binlerce kitap arasından seçim yapın.</p>
    <a class="btn btn-primary" asp-controller="Books" asp-action="Index">Kitapları Gör</a>
</div>